

:root{
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}

html{
    scroll-behavior: smooth;
}
/* clase para testear*/
.debug{
    outline: 1px solid red;
}

.header{
    position: sticky;
    top: 0;
}

.header-content{
    position: relative;
}


.wrapper{
    width: 902px;
    margin: auto;
}

.main-content{
    background: white;
}

body{
    color: var(--gray30);
    /*font-family: charter;*/
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a{
    color:var(--gray30);
}

header{
    font-size: 14px; 
    color: var(--gray10);
    position: absolute;
    border: 1px solid red;
    width: 188px;
    left: -232px;
    top: 64px;
}

header li{
    margin-bottom: 16px; 
}
header a{
    color: var(--gray10);
    text-decoration: none;
}

header a:hover{
    color: var(--gray30);
}

nav details summary{
    font-weight: bold;
    line-height: 24px;
} 

h1{
    font-size: 60px; /* font-size: 3.75rem; */
    margin: 64px 0px 16px 0px;
    font-weight: normal;
    
}

hr{
    margin: 64px 0;
}

h2{
    font-size: 2em;
    margin: 64px 0 40px;
    font-weight: normal;
    /* font-size: 32px; */
}

h3{
    font-size: 1.5em; /* font-size: 24px; */
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
    padding: 20px;
}

blockquote{
    margin: 32px 0;
    padding-left: 16px;
    font-size: 24px;
    border-left: 4px solid var(--gray30);
    line-height: 24px;
}

blockquote span{
    color: var(--gray10);
}

blockquote span::before{
    content: "-";
}

pre{
    background: #fec62e;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}
.hero{
    background-image: linear-gradient(to top, rgba(255,255,255,.3), transparent), url(../../images/pattern.png);
    height: 350px;
}

.section-content{
    margin-top: 164px;
    position: relative;
    counter-reset: titleList;
  
}

.section-content:first-of-type{
    margin: 0px;
}

.section-content ol li{
    line-height: 24px;
}

.section-content ul li{
    margin-bottom: 16px;
}

.section-content + hr{
    display: none;
}

.section-content img{
    margin-top: 40px;
}

.section-content h3{
    counter-increment: titleList;
    padding-bottom: 8px;
}
.section-content h3::before{
    content: counter(titleList)". ";
}

.section-content h3::after{
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
    position: absolute;
    left: 0;
}